In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\macbook\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\macbook\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [24]:
import pandas as pd
import sqlalchemy

In [67]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:victor@localhost/exam')

In [68]:
engine

Engine(mysql+pymysql://root:***@localhost/exam)

In [69]:
query='select * from scores'
df=pd.read_sql(query,engine)

In [71]:
df

   student_id first_name last_name
0           1     victor      okon
1           2       mike       kon
2           3       None      None
3           4       None      None

In [80]:
df=pd.read_csv('scoresdownn.csv')

In [81]:
df

   student_id first_name last_name
0         NaN      sarah       keo
1         NaN       jess        mi
2         NaN        goo     toile

In [82]:
df.to_sql(name='scores',con=engine,index=False,if_exists='append')